<ion-view view-title="智慧小区">
  <ion-content id="home">

    <div class="row">
      <div class="col"><a class="my-button-square"><span class="ion-volume-high light assertive-bg"></span><label>消息公告</label></a></div>
      <div class="col"><a class="my-button-square"><span class="ion-settings light royal-bg"></span><label>故障报修</label></a></div>
      <div class="col"><a class="my-button-square"><span class="ion-social-yen light energized-bg"></span><label>物业缴费</label></a></div>
    </div>
    <div class="row" style="border-bottom: solid 5px #e8e8e8;">

      <div class="col"><a class="my-button-square"><span class="ion-ios-people light calm-bg"></span><label>物业员工</label></a></div>
      <div class="col"><a class="my-button-square"><span class="ion-ios-telephone light positive-bg"></span><label>常用电话</label></a></div>
      <div class="col"><a class="my-button-square"><span class="ion-clipboard light balanced-bg"></span><label>投诉建议</label></a></div>
    </div>

    <div class="row row-no-padding"><img class="ban" src="img\ban.jpg"></div>
    <!--<div class="light-bg calm" style="text-align: center;font-size: 1.2em;line-height: 2.6em;border-bottom: solid 1px #e8e8e8;"><span class="ion-calendar"></span>&nbsp;&nbsp;消息通知</div>-->

    <div class="list list-inset">

     <div class="item item-divider item-icon-left calm">
       <i class="icon ion-android-calendar"></i>
       最新消息
     </div>

      <a href="#" class="item assertive item-icon-right">
        <i class="icon ion-information-circled"></i>

        您的服务费请于2015年12月30日之前交费
      </a>
      <a href="#" class="item item-icon-right assertive">
        <i class="icon ion-ios-bell-outline"></i>
        您运单号为888888的快递已经到达【047物品柜】
      </a>

      <a href="#" class="item">
        郑州小学生直面提问副市长：为什么天气这么不好
      </a>

      <a href="#" class="item">
        郑州限号限油小道消息引恐慌
      </a>

      <a href="#" class="item">
        郑州今年冬天暖气不热
      </a>
    </div>

  </ion-content>
</ion-view>
